venv/
be/
frontend/node_modules
frontend/.output
frontend/.tanstack
backend/__pycache__/
backend/services/__pycache__
backend/services/__pycache__/*.pyc
backend/.pytest_cache/
backend/tests/__pycache__/
backend/src/__pycache__
backend/src/services/__pycache__
screenshots/
backend/*.db
irc-minimal/
data-processor/api/__pycache__/
data-processor/test/__pycache__/
media-storage/minio.exe
media-storage/mc.exe
media-storage/data/
hetzner
hetzner.pub
node_modules/
infra_resources/bin/
infra_resources/cache/
infra_resources/memourai/
ai-service/__pycache__/
ai-service/ai-service/__pycache__/
media-storage/__pycache__/
infra_resources/
infra_resources/bin/
infra_resources/cache/
backend/src/models/__pycache__/
backend/src/services/__pycache__/
backend/src/core/__pycache__/
backend/src/utils/__pycache__/
backend/api/endpoints/__pycache__/
backend/api/endpoints/__pycache__/*.pyc
secrets/
.env.local
.env
